<div class="container" [ngStyle]="{'background-image': 'url(https://source.unsplash.com/1300x300/?' + cityName + ')'}">
    <mat-card class="example-card card" >
        <mat-card-title-group>
            <mat-card-title>{{cityName}}  <button mat-button (click)="onAdd()">Add</button></mat-card-title>
            <mat-card-subtitle class="subtitle">{{forecast.main?.temp}} °C</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content >
            <img mat-card-image [src]="'http://openweathermap.org/img/w/'+ forecast.weather[0].icon + '.png'"  class="img-clouds">
            {{  forecast.weather ? forecast.weather[0]?.description: '' }}
            <p>Humidity: {{forecast.main?.humidity}}</p>
            <p>Wind Speed: {{forecast.wind?.speed}} km/h</p>
        </mat-card-content>
    </mat-card>
</div>