<div class="container">
    <div class="header">
      <div class="search">
        <mat-form-field class="example-form-field" appearance="fill">
          <mat-label>City</mat-label>
          <input matInput type="text" [(ngModel)]="value" (keydown.enter)="search()">
          <button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
              <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
        <button mat-button color="primary" (click)="search()">Buscar</button>
      </div>
      <p>User: {{userAuth.user}}</p>
      <button mat-button color="primary" (click)="close()">Cerrar Sesion</button>
    </div>

    <app-citycard [forecast]="data" (add)="add($event)" *ngIf="data" [cityName]="data.name"></app-citycard>
    <br>
    <mat-accordion class="example-headers-align">
        <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle *ngFor="let city of cities">
          <mat-expansion-panel-header >
            <mat-panel-title>
              <p>{{city.name}}</p>
            </mat-panel-title>
            <mat-panel-description>
              <p>{{city.main.temp}} °C</p>
            </mat-panel-description>
          </mat-expansion-panel-header>
      
            <div class="body-panel">
                <mat-accordion class="example-headers-align"class="forecast">
                    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle *ngFor="let forecast of city.forecast">
                      <mat-expansion-panel-header>
                        <mat-panel-title class="title">
                          <p>{{forecast.dt_txt | date: 'medium'}} </p>
                          <p>{{forecast.main?.temp}} °C</p>
                        </mat-panel-title>
                        <mat-panel-description>
                          
                          
                        </mat-panel-description>
                      </mat-expansion-panel-header>
                  
                      <app-citycard [forecast]="forecast" [cityName]="city.name" ></app-citycard>
                      
                    </mat-expansion-panel>
                  
                  </mat-accordion>
            </div>
          
        </mat-expansion-panel>
      
      </mat-accordion>

    
</div>

